<table class="cart">
    <colgroup>
    <col width="1"><col width="1">
    <col><col width="1">
    <col width="1"><col width="1">
    <col width="1"></colgroup><thead>
    <tr><th class="sku">SKU</th>
    <th class="product-picture">Image</th>
    <th class="product">Product(s)</th>
    <th class="unit-price">Price</th>
    <th class="quantity">Qty.</th>
    <th class="subtotal">Total</th>
    <th class="remove-from-cart">Remove</th>
        </tr></thead><tbody><tr><td class="sku">
    <label class="td-title">SKU:</label>
    <span class="sku-number">NK_FRC_RS</span></td>
    <td class="product-picture"><a href="/nike-floral-roshe-customized-running-shoes">
        <img alt="Picture of Nike Floral Roshe Customized Running Shoes"></button>
                                                              </a>
</table>