@model  Cella.Models.SystemSetup

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h1>Create</h1>

<h4>SystemSetup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SendGridApiKey" class="control-label"></label>
                <input asp-for="SendGridApiKey" class="form-control" />
                <span asp-validation-for="SendGridApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendGridUserName" class="control-label"></label>
                <input asp-for="SendGridUserName" class="form-control" />
                <span asp-validation-for="SendGridUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendGridPassword" class="control-label"></label>
                <input asp-for="SendGridPassword" class="form-control" />
                <span asp-validation-for="SendGridPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwilloUrl" class="control-label"></label>
                <input asp-for="TwilloUrl" class="form-control" />
                <span asp-validation-for="TwilloUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwillioUserName" class="control-label"></label>
                <input asp-for="TwillioUserName" class="form-control" />
                <span asp-validation-for="TwillioUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwillioPassword" class="control-label"></label>
                <input asp-for="TwillioPassword" class="form-control" />
                <span asp-validation-for="TwillioPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadFolderPath" class="control-label"></label>
                <input asp-for="UploadFolderPath" class="form-control" />
                <span asp-validation-for="UploadFolderPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeannatId" class="control-label"></label>
                <input asp-for="TeannatId" class="form-control" />
                <span asp-validation-for="TeannatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GridItems" class="control-label"></label>
                <input asp-for="GridItems" class="form-control" />
                <span asp-validation-for="GridItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

