@model Cella.Models.ViewModels.CategoriesViewModel
@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">

                    @foreach (var cat in Model.Categories)
                    {
                        <li class="list-group-item"><a href="category.html">@cat.Name</a></li>

                    }
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">

                @foreach (var cat in Model.Categories)
                {

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="product.html" title="View Product">@cat.Name</a></h4>
                                <p class="card-text">@cat.Description</p>
                                <div class="row">
                                    <div class="col">

                                    </div>
                                   
                                    <a asp-controller="Catalog" asp-action="ProductListings" asp-route-id="10" class="btn btn-success btn-block">Browse Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            </div>



            </div>
    </div>
                  