@model  Cella.Models.ViewModels.ProductListingsViewModel 

@{
    ViewData["Title"] = "Prop";
    Layout = "~/Themes/FrontEnd/Views/Shared/_Layout.cshtml";
}

<h1>@T("Search")</h1>

Lets show a price  
@foreach (var item in Model.Products)
{
   
<li>
    Price:
    
    @Html.DisplayFor(model => item.DefaultPrice)


</li>
    }
}