@model  Cella.Models.ApplicationUser

@{
    ViewData["Title"] = "Update User";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h1 class="bg-info text-white">Update User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>



    <input type="button" value="Create" onclick="location.href='@Url.Action("Details", "Warehouses")'" />

    <button type="submit" class="btn btn-primary">Save</button>
</form>