 
    <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        </div>
        <div class="info">
            <a href="#" class="d-block">
                

            </a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

            <li class="nav-item has-treeview">
                <a href="/Warehouses/" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Catalog

                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/StockItems/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Stock Item </p>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="/Catalog/Categories" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Categories </p>
                        </a>
                        <a href="/Catalog/ProductListings/1" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                product listings
                            </p>
                        </a>

                    </li>
                    <li class="nav-item active">
                        <a href="/Warehouses/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manaufactures </p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/Warehouses/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Warehouse Locations </p>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="/Warehouses/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Product tags </p>
                        </a>
                    </li>


                    <li class="nav-item active">
                        <a href="/Warehouses/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Attributes </p>
                        </a>
                    </li>

                </ul>
            </li>


            <li class="nav-item has-treeview">
                <a href="/Warehouses/" class="nav-link">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    <p>
                        Sales

                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Orders </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Shipments </p>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Return Rquests </p>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Recurring Payments </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Shopping Carts </p>
                        </a>
                    </li>


                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a href="/Warehouses/" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Customers

                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Customers </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Customers Roles </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Vendors </p>
                        </a>
                    </li>


                </ul>
            </li>


            <li class="nav-item has-treeview">
                <a href="/Warehouses/" class="nav-link">
                    <i class="nav-icon fas fa-tags"></i>
                    <p>
                    Promotions
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Customers </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Customers Roles </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Vendors </p>
                        </a>
                    </li>


                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-user-cog"></i>
                    <p>
                        Setup
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>


                <ul class="nav nav-treeview">


                    <li class="nav-item">
                        <a asp-area="" asp-controller="Admin" asp-action="Setup" class="nav-link">
                            <i class="fa fa-notes-medical nav-icon"></i>
                            <p>Configuration Settings</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="" asp-controller="Admin" asp-action="PluginManager" class="nav-link">
                            <i class="fa fa-notes-medical nav-icon"></i>
                            <p>Plugin Manager</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Themes" asp-action="Index" class="nav-link">
                            <i class="fa fa-notes-medical nav-icon"></i>
                            <p>Themes</p>
                        </a>
                    </li>



                    
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Role" asp-action="Index">Security</a>
                    </li>


                    <li class="nav-item">
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link">
                            <i class="fa fa-user-plus" nav-icon"></i>
                            <p>Manage Users</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <i class="far fa fa-toolbox nav-icon"></i>
                        <a asp-area="" asp-controller="Role" asp-action="Index" class="nav-link">
                            <p>Manager Roles</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="" asp-controller="Companies" asp-action="Index" class="nav-link">
                            <i class="far fa-building nav-icon"></i>
                            <p>Setup Companies</p>
                        </a>
                    </li>


                </ul>

            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
